@using Microsoft.AspNetCore.Http.Extensions
@using System.Globalization
@model Epistle.ActivityPub.Object

<div>
    @Model.Content
</div>
<div>
    @Model.Published?.ToString("u", CultureInfo.InvariantCulture)
</div>
<div>
    @Model.Id
</div>
