@using Microsoft.AspNetCore.Http.Extensions
@using System.Globalization
@model Epistle.ActivityPub.Object

<div>
    @if (Model.Name is not null)
    {
        <h1>@Model.Name</h1>
    }
    @Html.Raw(Model.Content)
</div>
<hr>
<div>
    @Model.Published?.ToUniversalTime().ToString("u", CultureInfo.InvariantCulture)
    | <a asp-controller="Home" asp-action="Index">Home</a>
</div>
