@using Microsoft.AspNetCore.Http.Extensions
@using System.Globalization
@model Epistle.Domain.ViewModels.ObjectViewModel

<div>
    @if (Model.Object.Name is not null)
    {
        <h1>@Model.Object.Name</h1>
    }
    @Html.Raw(Model.Object.Content)
</div>
<hr>
<div>
    <a href=@Model.Actor.Url?.FirstOrDefault()?.Uri>@Model.Actor.Name</a>
    | @Model.Object.Published?.ToUniversalTime().ToString("u", CultureInfo.InvariantCulture)
    | <a asp-controller="Home" asp-action="Index">Home</a>
</div>
